import pygame
import random
pygame.init()

# Width and Height
Width = 350
Height = 540

# Colours
white = (255, 255, 255)
red = (255, 0, 0)
green = (0, 255, 0)

# Game window
Window = pygame.display.set_mode((Width, Height))
#Game Caption
pygame.display.set_caption("Snakes")
pygame.display.update()


#Game Variables
exit_game = False
game_over = False
snake_x = 45
snake_y = 45
snakevelocity_x = 0
snakevelocity_y = 0
snake_size = 20
food_size = 20
score = 0
food_x = random.randint(0,Width)
food_y = random.randint(0,Height)
clock = pygame.time.Clock()
fps = 30


#Game Loop
while not exit_game:
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            exit_game = True
        if event.type == pygame.KEYDOWN:
          if event.key == pygame.K_W:
            snakevelocity_y=-10
            snakevelocity_x = 0
          if event.key == pygame.K_D:
            snakevelocity_x = +10
            snakevelocity_y = 0
          if event.key == pygame.K_A:
            snakevelocity_x = -10
            snakevelocity_y = 0
          if event.key == pygame.K_S:
            snakevelocity_y = +10
            snakevelocity_x = 0
    snake_x=snake_x+snakevelocity_x
    snake_y=snake_y+snakevelocity_y

    if abs(snake_x - food_x)<7 and abs(snake_y - food_y)<6:
           score += 10
           print(score)
           food_x = random.randint(0, Width)
           food_y = random.randint(0, Height)

      
    Window.fill(white)
    pygame.draw.rect(Window,green,[food_x,food_y,food_size,food_size])
    pygame.draw.rect(Window,red,[snake_x,snake_y,snake_size,snake_size])
    pygame.display.update()
    clock.tick(fps)
          

pygame.quit()
quit()